<!DOCTYPE html>
<html>
<head>
    <title>Confirmation de Rendez-vous</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .header img {
            width: 100px;
            margin-bottom: 10px;
        }
        .confirmation {
            text-align: center;
            margin-bottom: 20px;
        }
        .confirmation img {
            width: 100%;
            max-width: 300px;
            margin-bottom: 10px;
        }
        .details {
            margin-bottom: 20px;
        }
        .details h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .details .column {
            width: 50%;
            float: left;
            padding: 10px;
            box-sizing: border-box;
        }
        .details .card {
            background-color: #f8f8f8;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .details .button-container {
            text-align: center;
            margin-top: 20px;
        }
        .details .button-container a {
            background-color: #007bff;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px;
        }
        .details .button-container a:hover {
            background-color: #0056b3;
        }
        .articles {
            margin-top: 30px;
        }
        .articles h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        .articles .article {
            background-color: #f8f8f8;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .footer {
            text-align: center;
            font-size: 12px;
            color: #888;
            padding: 10px 0;
            border-top: 1px solid #ddd;
            margin-top: 20px;
        }
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/7/7f/Logo-doctolib.svg/2048px-Logo-doctolib.svg.png" alt="Logo" title="Logo" />
        </div>
        <div class="confirmation">
            <img src="https://img.freepik.com/free-photo/enthusiastic-woman-doctor-smiling-pointing-fingers-camera-congratulating-inviting-patients-cli_1258-88101.jpg?t=st=1717152310~exp=1717155910~hmac=df3e87c440cb364764b93a4cf257372fa82acabae7c04a85bd1bfcee9a5dedda&w=2000" alt="Confirmation Image" title="Confirmation Image" />
            <p>Confirmation de votre rendez-vous</p>
        </div>
        <div class="details clearfix">
            <h2>Détails RDV</h2>
            <div class="column">
                <div class="card">
                    <h3>Date et Heure</h3>
                    <p>{{debut}} - {{fin}}</p>
                </div>
                <div class="card">
                    <h3>Lieu</h3>
                    <p>{{lieu}}</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h3>Docteur</h3>
                    <p>{{doctorName}}</p>
                </div>
                <div class="card">
                    <h3>Service</h3>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
          <div class="button-container">
                <h3>Un empêchement ?</h3>
                <a href="{{cancelLink}}">Annuler le rendez-vous</a>
            </div>
    </div>
       
        <div class="articles">
            <h3>Articles et Informations</h3>
            <div class="article">
                <h4>Titre de l'article 1</h4>
                <p>Contenu de l'article 1...</p>
            </div>
            <div class="article">
                <h4>Titre de l'article 2</h4>
                <p>Contenu de l'article 2...</p>
            </div>
            <div class="article">
                <h4>Titre de l'article 3</h4>
                <p>Contenu de l'article 3...</p>
            </div>
        </div>
        <div class="footer">
            <p>All rights reserved</p>
        </div>
    </div>
</body>
</html>